<div class="tracks-page">
<!-- Hay dos secciones en la misma página por lo que se pasa 2 veces la misma ruta con diferentes modos para distinguirla, 
una que se verán los emotes grandes y se le pasa el modo y titulo diferentes -->
<app-section-generic [dataTracks]="mockTracksList"   [mode]= "'small'" [title]="'¡Los mejores podcasts del mundo!'"></app-section-generic>
<app-section-generic [dataTracks]="mockTracksList"   [mode]= "'big'" [title]="'Lo mejor del momento'"></app-section-generic>
</div>