

.section--generic {
    margin-bottom: 4rem;
    
    
}
/*Parte de arriba de la página (Sección pequeña)*/
.section--generic__player--zone .player--list {
    display: grid;
    list-style: none;
    margin-bottom: 0;
    padding: 5;
    gap: 1.15rem;
}

.section--generic__player--zone .player--list.card-small {
    grid-template-columns: repeat(5, 1fr);
}

.section--generic__player--zone .player--list.card-big {
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    
}